.model-preview {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  :global(.luna-image-viewer) {
    width: 100%;
    height: 100%;
  }
}

.no-preview {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  opacity: 0.5;
}
