.toolbar {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  border-bottom: none;
}

.apply-button {
  padding: 0 6px;
  height: 22px;
  margin-top: 4px;
  display: flex;
  align-items: center;
  border-radius: 2px;
}
