.group {
  margin-bottom: 10px;
  position: relative;
}

.title {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.55;
}

.content {
  padding: 10px;
  border: 1px solid var(--vivy-color-border);
  user-select: text;
  cursor: text;
  font-size: 12px;
}

.copy {
  position: absolute;
  right: 5px;
  top: 2px;
  &:hover {
    color: var(--vivy-color-primary);
  }
}
