[submodule "webui/stable-diffusion-webui"]
	path = webui/stable-diffusion-webui
	url = https://github.com/liriliri/stable-diffusion-webui.git
[submodule "src/share"]
	path = src/share
	url = https://github.com/liriliri/electron-share.git
[submodule "src/renderer/icon"]
	path = src/renderer/icon
	url = https://github.com/liriliri/icon-share
