#image-viewer {
  background: #fbfbfb;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 150px;
  padding-top: 31px;
}

.image-viewer-toolbar {
  background: var(--vivy-background);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.image-viewer-body {
  width: 100%;
  height: 100%;
}
