.toolbar {
  background: var(--color-bg-container);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.prompt,
.negative-prompt {
  border: 1px solid var(--color-border);
  margin-bottom: 8px;
}

.prompt {
  &.selected {
    border-color: var(--color-success);
  }
}

.negative-prompt {
  &.selected {
    border-color: var(--color-error);
  }
}
