.generate-basic {
  padding: 14px 8px;
  border-bottom: 1px solid var(--vivy-color-border);
}

.prompt,
.negative-prompt {
  border: 1px solid var(--vivy-color-border);
  margin-bottom: 8px;
  textarea {
    padding: 6px;
    font-size: 12px;
    resize: none;
    width: 100%;
    font-family: var(--vivy-font-family);
    color: var(--vivy-color-text);
    background: var(--vivy-color-bg-container);
  }
}

.generate {
  width: 100%;
  padding: 12px 0;
}
