.sidebar {
  background: var(--vivy-color-bg-container);
  position: absolute;
  border-right: 1px solid var(--vivy-color-border);
  left: 0;
  top: 31px;
  bottom: 22px;
  width: 400px;
  overflow-y: auto;
}

.generate-basic {
  padding: 14px 8px;
  border-bottom: 1px solid var(--vivy-color-border);
}

.prompt,
.negative-prompt {
  margin-bottom: 8px;
  textarea {
    padding: 6px;
    font-size: 12px;
    resize: none;
    width: 100%;
    color: var(--vivy-color-text);
    background: var(--vivy-color-bg-container);
  }
}

.prompt {
  textarea {
    height: 100px;
  }
}

.negative-prompt {
  textarea {
    height: 60px;
  }
}

.generate {
  width: 100%;
  padding: 12px 0;
}
