.sidebar {
  position: relative;
  background: var(--color-bg-container);
  border-right: 1px solid var(--color-border);
  flex-direction: column;
  display: flex;
  height: 100%;
}

.generate-basic {
  padding: 14px 8px;
  padding-top: 45px;
  border-bottom: 1px solid var(--color-border);
}

.generate-options {
  flex: 1;
  overflow: auto;
}
