.sidebar {
  position: relative;
  background: var(--vivy-color-bg-container);
  border-right: 1px solid var(--vivy-color-border);
  width: 400px;
  min-width: 350px;
  max-width: calc(100vw - 400px);
  flex-direction: column;
}

.resizer {
  position: absolute;
  height: 100%;
  right: -8px;
  top: 0;
  cursor: col-resize;
  z-index: 80;
}
