.workspace {
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  top: 31px;
  bottom: 22px;
}

.about {
  text-align: center;
}

.icon {
  display: block;
  margin: 0 auto;
  margin-top: -15px;
}
