#sidebar {
  background: var(--vivy-background);
  position: absolute;
  border-right: 1px solid var(--vivy-border);
  left: 0;
  top: 40px;
  bottom: 22px;
  width: 400px;
  overflow-y: auto;
}

.generate-basic {
  padding: 14px 8px;
  border-bottom: 1px solid var(--vivy-border);
}

.prompt,
.negative-prompt {
  margin-bottom: 8px;
  textarea {
    height: 80px;
    padding: 6px;
    resize: vertical;
    width: 100%;
  }
}

.generate-image {
  width: 100%;
  padding: 12px 0;
}
