.image-viewer {
  background: var(--vivy-color-border);
  position: relative;
  padding-top: 31px;
  flex: 1;
  overflow: hidden;
}

.toolbar {
  background: var(--vivy-background);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.body {
  width: 100%;
  height: 100%;
}
