.image-viewer {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 181px;
  padding-top: 31px;
}

.toolbar {
  background: var(--vivy-background);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.body {
  width: 100%;
  height: 100%;
}
