.group {
  margin-bottom: 10px;
}

.title {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.55;
}

.content {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid var(--vivy-color-border);
  user-select: text;
}
