.statusbar {
  background: var(--vivy-color-bg-container);
  position: absolute;
  border-top: 1px solid var(--vivy-color-border);
  height: 22px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  font-size: 12px;
  line-height: 22px;
  color: var(--vivy-color-text);
  padding: 0;
}

.item {
  display: inline-block;
  line-height: 20px;
  height: 100%;
  padding: 0 5px;
  font-variant-numeric: tabular-nums;
  &.button {
    &:hover {
      background-color: var(--vivy-color-bg-text-hover);
    }
  }
}

.system-info {
  display: flex;
  .cpu,
  .mem {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .cpu {
    width: 65px;
    margin-right: 5px;
  }
  .mem {
    width: 90px;
  }
}

.space {
  flex-grow: 1;
}
