.statusbar {
  background: var(--vivy-color-bg-container);
  position: absolute;
  border-top: 1px solid var(--vivy-color-border);
  height: 22px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  font-size: 12px;
  line-height: 22px;
  color: var(--vivy-color-text);
  padding: 0;
}

.item {
  display: inline-block;
  line-height: 22px;
  height: 100%;
  padding: 0 5px;
  &.button {
    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}

.system-info {
  display: flex;
  .cpu,
  .mem {
    width: 55px;
  }
}

.space {
  flex-grow: 1;
}
