@import './theme';

.luna-setting {
  color: var(--vivy-color-text);
  background: var(--vivy-color-bg-container);
}

.luna-setting-item {
  &:hover,
  &.luna-setting-selected {
    background: none;
  }
  &.luna-setting-selected:focus {
    outline: none;
  }
}

.luna-setting-item-select {
  .luna-setting-select {
    select {
      color: var(--vivy-color-text);
      border-color: var(--vivy-color-border);
      background: var(--vivy-color-bg-container);
    }
    &:after {
      border-top-color: var(--vivy-color-text);
    }
  }
}

.luna-setting-item-button {
  button {
    color: #fff;
    background: var(--vivy-color-primary);
    border: none;
    &:hover {
      background: var(--vivy-color-primary-hover);
    }
    &:active {
      background: var(--vivy-color-primary-active);
      border: none;
    }
  }
}

.luna-setting-item-number {
  input[type='number'] {
    background: var(--vivy-color-bg-container);
    border-color: var(--vivy-color-border);
    color: var(--vivy-color-text);
  }
  .luna-setting-range-container {
    .luna-setting-range-track {
      .luna-setting-range-track-bar {
        background: var(--vivy-color-border);
        .luna-setting-range-track-progress {
          background: var(--vivy-color-primary);
        }
      }
    }
    input::-webkit-slider-thumb {
      border-color: var(--vivy-color-border);
      background: var(--vivy-color-white);
    }
  }
}

.luna-image-viewer {
  border: none;
  background: var(--vivy-color-bg-container);
}

.luna-toolbar {
  color: var(--vivy-color-text);
  background: var(--vivy-color-bg-container);
  border-bottom-color: var(--vivy-color-border);
  .luna-toolbar-item-separator {
    background: var(--vivy-color-border);
  }
  .luna-toolbar-item-select {
    select {
      color: var(--vivy-color-text);
      background: var(--vivy-color-bg-container);
      border-color: var(--vivy-color-border);
    }
    &:after {
      border-top-color: var(--vivy-color-text);
    }
  }
  .icon {
    display: flex;
    align-items: center;
    &:hover {
      color: var(--vivy-color-primary);
    }
  }
}

.luna-modal {
  z-index: $z-index-popup-base;
}

.luna-modal-body,
.luna-modal-input {
  color: var(--vivy-color-text);
  background: var(--vivy-color-bg-container);
}

.luna-modal-input {
  user-select: text !important;
  border-color: var(--vivy-color-border);
}

.luna-modal-button-group {
  .luna-modal-secondary {
    border-color: var(--vivy-color-border);
    color: var(--vivy-color-text);
    background: var(--vivy-color-bg-container);
  }
  .luna-modal-primary {
    background: var(--vivy-color-primary);
  }
  .luna-modal-button {
    &:active {
      &::before {
        background: var(--vivy-color-primary);
      }
    }
  }
}

.luna-data-grid {
  color: var(--vivy-color-text);
  background: var(--vivy-color-bg-container);
  border-color: var(--vivy-color-border);
  &:focus {
    .luna-data-grid-data-container {
      .luna-data-grid-node.luna-data-grid-selected {
        background: var(--vivy-color-primary);
      }
    }
  }
  th,
  td {
    border-color: var(--vivy-color-border);
  }
  th {
    background: var(--darker-background);
    &.luna-data-grid-sortable {
      &:hover,
      &:active {
        color: var(--select-foreground);
        background: var(--highlight);
      }
    }
  }
  .luna-data-grid-data-container {
    .luna-data-grid-node.luna-data-grid-selected {
      background: var(--highlight);
    }
    tr:nth-child(even) {
      background: var(--contrast);
    }
  }
}
