.luna-setting {
  color: var(--vivy-foreground);
  background: var(--vivy-background);
}

.luna-setting-item {
  &:hover,
  &.luna-setting-selected {
    background: var(--vivy-darker-background);
  }
  &.luna-setting-selected:focus {
    outline: none;
  }
}

.luna-image-viewer {
  border: none;
  background: var(--vivy-lighter-background);
}

.luna-toolbar {
  color: var(--vivy-foreground);
  background: var(--vivy-background);
  border-bottom-color: var(--vivy-border);
  .luna-toolbar-item-separator {
    background: var(--vivy-border);
  }
  .luna-toolbar-item-select {
    select {
      color: var(--vivy-foreground);
      border-color: var(--vivy-lighter-background);
    }
    &:after {
      border-top-color: var(--vivy-foreground);
    }
  }
  .icon {
    display: flex;
    align-items: center;
    &:hover {
      color: var(--vivy-primary);
    }
  }
}

.luna-modal {
  z-index: 100;
}

.-theme-with-dark-background {
  .luna-toolbar {
    .luna-toolbar-item-select {
      select {
        background: var(--vivy-lighter-background);
      }
    }
  }
}
