.luna-setting {
  background: transparent;
}

.luna-setting-item {
  &.luna-setting-selected:focus {
    outline: none;
  }
}

.luna-image-viewer {
  border: none;
  background: transparent;
}

.luna-toolbar {
  background: var(--vivy-background);
  border-bottom: 1px solid var(--vivy-border);
  .icon {
    display: flex;
    align-items: center;
    &:hover {
      color: var(--vivy-primary);
    }
  }
}

.luna-modal {
  z-index: 100;
}
