@use 'sass:color';
@use './theme' as *;
@use '../share/renderer/mixin' as *;

@each $class in (':root', '.-theme-with-dark-background') {
  #{$class} {
    @if ($class == '.-theme-with-dark-background') {
      color-scheme: dark;
    }
    @include theme-vars(
      (
        color-text,
        color-primary,
        color-primary-hover,
        color-primary-active,
        color-bg-container,
        color-fill-secondary,
        color-white,
        color-success,
        color-error,
        color-error-bg,
        color-fill-alter,
        box-shadow,
        color-bg-text-hover,
        color-fill-tertiary,
        color-success-hover,
        color-success-active,
        if(
          $class == ':root',
          (
            color-primary-bg: color.adjust($color-primary, $lightness: 40%),
            color-border: color.adjust($color-border, $lightness: 2%),
            color-bg-container-darker:
              color.adjust($color-bg-container, $lightness: -5%),
          ),
          (
            color-primary-bg: color.adjust($color-primary, $lightness: -25%),
            color-border: color.adjust($color-border-dark, $lightness: -8%),
            color-bg-container-darker:
              color.adjust($color-bg-container-dark, $lightness: -5%),
          )
        )
      ),
      if($class == ':root', 'light', 'dark')
    );
  }
}

textarea {
  outline: none;
  border: 1px solid var(--color-border);
  border-radius: 4px;
}

.full-mode {
  position: fixed !important;
  left: 0;
  top: 59px;
  width: 100% !important;
  height: calc(100vh - 81px) !important;
  max-width: none !important;
  max-height: none !important;
  min-width: 0;
  min-height: 0;
  border-top: none !important;
  z-index: 500;
}
