@import './theme.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  font-size: 14px;
  font-family: var(--vivy-font-family);
  user-select: none;
  color: var(--vivy-color-text);
  cursor: default;
}

@mixin prefix($declarations) {
  @each $property, $value in $declarations {
    #{'--vivy-' + $property}: $value;
  }
}

:root {
  @include prefix(
    (
      font-family: $font-family,
      color-text: $color-text,
      color-primary: $color-primary,
      color-primary-hover: $color-primary-hover,
      color-primary-active: $color-primary-active,
      color-border: $color-border,
      color-bg-container: $color-bg-container,
      color-fill-secondary: $color-fill-secondary,
      color-white: $color-white,
    )
  );
}

.-theme-with-dark-background {
  color-scheme: dark;
  @include prefix(
    (
      color-text: $color-text-dark,
      color-primary: $color-primary-dark,
      color-primary-hover: $color-primary-hover-dark,
      color-primary-active: $color-primary-active-dark,
      color-border: $color-border-dark,
      color-bg-container: $color-bg-container-dark,
      color-fill-secondary: $color-fill-secondary-dark,
    )
  );
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 1px;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
  border: solid transparent;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

textarea {
  outline: none;
  border: 1px solid var(--vivy-color-border);
  border-radius: 4px;
}

button {
  background: var(--vivy-color-primary);
  border: none;
  color: #fff;
  border-radius: 4px;
  padding: 6px;
  &:hover {
    background: var(--vivy-color-primary-hover);
  }
  &:active {
    background: var(--vivy-color-primary-active);
  }
}

.full-mode {
  position: fixed !important;
  left: 0;
  top: 0;
  width: 100% !important;
  height: calc(100vh - 22px) !important;
  max-width: none !important;
  max-height: none !important;
  min-width: 0;
  min-height: 0;
  z-index: 1000;
}
